<div class="container">
	<div class="col-md-6 col-md-offset-3">
		<h3><%= @user.email %></h3>
		<% unless @user == current_user %>
			<% if current_user.following?(@user) %>
				<%= button_to 'Unfollow', user_follow_path(@user, current_user.get_follow(@user).id), method: :delete, class: 'btn btn-default' %>
			<% else %>		
				<%= button_to 'Follow', user_follows_path(@user), class: 'btn btn-default' %>
			<% end %>
		<% end %>	
	</div>
</div>